server:
  port: 810

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
  data-source:
    url: jdbc:mysql://localhost:3307/homework_result
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: homework-result-service
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /

eureka:
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:803/eureka/
  instance:
    prefer-ip-address: true

education:
  rabbit:
    publishX: education_homework_result_event